body, input, table {
    font-family: "Lucida Grande",verdana,arial,helvetica,sans-serif;
}

body {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

#content {
   padding: 6px;
}

#content img {
    vertical-align: text-bottom;
}

#content input, #content select {
    vertical-align: baseline;
}

#setup {
    position: absolute;
    height: 120px;
    width: 300px;
    top: 0;
    right: 0;

}

#setup label span.left {
    width: 100px;
    display: inline-block;
}

#setup label select {
    width: 150px;
}

#setup #toogleButton {
    position: absolute;
    bottom: -30px;
    height: 30px;
    right: 10px;
    width: 30px;
    cursor: pointer;
    background-color: #d3d3d3;

}